.container {
    width: max-content;
    margin: auto;
    padding-top: 8vh;
}

.present {
    text-align: center;
    margin-bottom: 15vh;
}

.showcomponents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: max-content;
    margin: auto;
}
